<div class="p-3 bgWhite">
  <h1>Liabilities</h1>
  <mat-divider></mat-divider>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <button mat-button mat-raised-button color="primary" class="mx-3 pointer">
        Add Personal / Car Loan
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <button mat-button mat-raised-button color="primary" class="mx-3 pointer">
        Add Credit Card / Layby
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <button mat-button mat-raised-button color="primary" class="mx-3 pointer">
        Add Salary Sacrifice (HELP/HECS debt)
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 p-3">
      <button mat-button mat-raised-button color="primary" class="mx-3 pointer">
        Add Other Liabilities
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="step-nav">
    <div class="d-flex justify-content-between align-items-center">
      <button mat-flat-button [routerLink]="">Back</button>
      <button
        mat-raised-button
        color="primary"
        class="next"
        [disabled]="!IsNext"
      >
        Next
        <mat-icon class="btnOrder">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
