<div class="p-3 bgWhite">
  <h1>Liabilities</h1>
  <mat-divider></mat-divider>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <div [formGroup]="AddPersonalLoan" class="mt-4">
        <div
          formArrayName="ApplicantLaibilities"
          *ngFor="
            let item of AddPersonalLoan.get('ApplicantLaibilities')['controls'];
            let i = index
          "
        >
          <div
            [formGroupName]="i"
            class="py-3 mb-3"
            [ngClass]="
              i % 2 == 1 ? 'bgSkinWhite' : i % 2 == 0 ? 'bgLightGreen' : ''
            "
          >
            <div class="row mx-0">
              <div class="col-12 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <b>Personal / Car Loan #{{ i + 1 }}</b>
                  <button
                    (click)="
                      +item.get('LiabilityID').value == undefined || +item.get('LiabilityID').value == 0 ?
                      removeApplicantLaibility(
                        i,
                        +item.get('LiabilityTypeId').value
                      ) : DeleteLiability(+item.get('LiabilityID').value)
                    "
                    mat-fab
                    color="primary"
                    aria-label="Example icon button with a delete icon"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <mat-form-field class="col-6 w-100">
                <mat-label>Lender</mat-label>
                <input matInput placeholder="Lender" formControlName="Lender" />
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Balance</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Balance"
                  formControlName="Balance"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <div class="col-3 w-100"></div>
              <mat-form-field
                *ngIf="+item.get('LiabilityTypeId').value == 2"
                class="col-3 w-100"
              >
                <mat-label>CardLimit</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="CardLimit"
                  formControlName="CardLimit"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Payment</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Payment"
                  formControlName="Payment"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-select
                  placeholder="Per"
                  formControlName="PaymentTimePeriod"
                >
                  <mat-option
                    *ngFor="let item of DurationType"
                    [value]="item.DurationTypeId"
                  >
                    {{ item.DurationTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="col-6 w-100">
                <label class="constant"> Name on Liabilitiy </label>
                <div>
                  <ng-container formArrayName="ApplicantTypeId">
                    <span
                      class=""
                      *ngFor="
                        let item2 of _sharedService.TotalApplicants;
                        let i2 = index
                      "
                      [ngClass]="i2 == 0 ? 'pl-0' : ''"
                    >
                      <mat-checkbox
                        (change)="onChange($event,i,+item.get('LiabilityTypeId').value); item2.IsChecked = !item2.IsChecked"
                        [value]="item2.ApplicantId"
                        [checked]="item2.IsChecked == true"
                      >
                        {{ item2.FirstName }}&nbsp;{{ item2.SurName }}
                      </mat-checkbox>
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="px-15 mb-2">
                <label class="">Refinance?</label>
                <div>
                  <mat-radio-group formControlName="IsRefinance">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-error
                  *ngIf="item.get('IsRefinance').hasError('required')"
                  class="mat-error"
                  >Refinance required
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        (click)="addApplicantLaibility(1)"
        mat-button
        mat-raised-button
        color="primary"
        class="mx-3 pointer"
      >
        Add Personal / Car loan
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <div [formGroup]="AddCreditCardLoan" class="mt-4">
        <div
          formArrayName="ApplicantLaibilities"
          *ngFor="
            let item of AddCreditCardLoan.get('ApplicantLaibilities')[
              'controls'
            ];
            let i = index
          "
        >
          <div
            [formGroupName]="i"
            class="py-3 mb-3"
            [ngClass]="
              i % 2 == 1 ? 'bgSkinWhite' : i % 2 == 0 ? 'bgLightGreen' : ''
            "
          >
            <div class="row mx-0">
              <div class="col-12 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <b>Credit Card / Layby #{{ i + 1 }}</b>
                  <button
                  (click)="
                  +item.get('LiabilityID').value == undefined || +item.get('LiabilityID').value == 0 ?
                  removeApplicantLaibility(
                    i,
                    +item.get('LiabilityTypeId').value
                  ) : DeleteLiability(+item.get('LiabilityID').value)
                "
                    mat-fab
                    color="primary"
                    aria-label="Example icon button with a delete icon"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <mat-form-field class="col-6 w-100">
                <mat-label>Lender</mat-label>
                <input matInput placeholder="Lender" formControlName="Lender" />
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Balance</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Balance"
                  formControlName="Balance"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <div class="col-3 w-100">

              </div>
              <mat-form-field  *ngIf="+item.get('LiabilityTypeId').value == 2" class="col-3 w-100">
                <mat-label>CardLimit</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="CardLimit"
                  formControlName="CardLimit"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Payment</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Payment"
                  formControlName="Payment"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-select
                  placeholder="Per"
                  formControlName="PaymentTimePeriod"
                >
                  <mat-option
                    *ngFor="let item of DurationType"
                    [value]="item.DurationTypeId"
                  >
                    {{ item.DurationTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="col-6 w-100">
                <label class="constant"> Name on Liabilitiy </label>
                <div>
                  <ng-container formArrayName="ApplicantTypeId">
                    <span
                      class=""
                      *ngFor="
                        let item2 of _sharedService.TotalApplicants;
                        let i2 = index
                      "
                      [ngClass]="i2 == 0 ? 'pl-0' : ''"
                    >
                      <mat-checkbox
                        (change)="onChange($event,i,+item.get('LiabilityTypeId').value)"
                        [value]="item2.ApplicantId"
                      >
                        {{ item2.FirstName }}&nbsp;{{ item2.SurName }}
                      </mat-checkbox>
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="px-15 mb-2">
                <label class="">Refinance?</label>
                <div>
                  <mat-radio-group formControlName="IsRefinance">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-error
                  *ngIf="
                    item.get('IsRefinance').hasError(
                      'required'
                    )
                  "
                  class="mat-error"
                  >Refinance required
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        (click)="addApplicantLaibility(2)"
        mat-button
        mat-raised-button
        color="primary"
        class="mx-3 pointer"
      >
        Add Credit Card / Layby
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <div [formGroup]="AddSalaryScrificesLoan" class="mt-4">
        <div
          formArrayName="ApplicantLaibilities"
          *ngFor="
            let item of AddSalaryScrificesLoan.get('ApplicantLaibilities')[
              'controls'
            ];
            let i = index
          "
        >
          <div
            [formGroupName]="i"
            class="py-3 mb-3"
            [ngClass]="
              i % 2 == 1 ? 'bgSkinWhite' : i % 2 == 0 ? 'bgLightGreen' : ''
            "
          >
            <div class="row mx-0">
              <div class="col-12 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <b>Salary Sacrifice #{{ i + 1 }}</b>
                  <button
                  (click)="
                  +item.get('LiabilityID').value == undefined || +item.get('LiabilityID').value == 0 ?
                  removeApplicantLaibility(
                    i,
                    +item.get('LiabilityTypeId').value
                  ) : DeleteLiability(+item.get('LiabilityID').value)
                "
                    mat-fab
                    color="primary"
                    aria-label="Example icon button with a delete icon"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <mat-form-field class="col-6 w-100">
                <mat-label>Lender</mat-label>
                <input matInput placeholder="Lender" formControlName="Lender" />
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Balance</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Balance"
                  formControlName="Balance"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <div class="col-3 w-100">

              </div>
              <mat-form-field  *ngIf="+item.get('LiabilityTypeId').value == 2" class="col-3 w-100">
                <mat-label>CardLimit</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="CardLimit"
                  formControlName="CardLimit"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Payment</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Payment"
                  formControlName="Payment"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-select
                  placeholder="Per"
                  formControlName="PaymentTimePeriod"
                >
                  <mat-option
                    *ngFor="let item of DurationType"
                    [value]="item.DurationTypeId"
                  >
                    {{ item.DurationTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="col-6 w-100">
                <label class="constant"> Name on Liabilitiy </label>
                <div>
                  <ng-container formArrayName="ApplicantTypeId">
                    <span
                      class=""
                      *ngFor="
                        let item2 of _sharedService.TotalApplicants;
                        let i2 = index
                      "
                      [ngClass]="i2 == 0 ? 'pl-0' : ''"
                    >
                      <mat-checkbox
                        (change)="onChange($event,i,+item.get('LiabilityTypeId').value)"
                        [value]="item2.ApplicantId"

                      >
                        {{ item2.FirstName }}&nbsp;{{ item2.SurName }}
                      </mat-checkbox>
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="px-15 mb-2">
                <label class="">Refinance?</label>
                <div>
                  <mat-radio-group formControlName="IsRefinance">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-error
                  *ngIf="
                    item.get('IsRefinance').hasError(
                      'required'
                    )
                  "
                  class="mat-error"
                  >Refinance required
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        (click)="addApplicantLaibility(3)"
        mat-button
        mat-raised-button
        color="primary"
        class="mx-3 pointer"
      >
       Add Salary Sacrifice (HELP/HECS debt)
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 p-3 bb-2">
      <div [formGroup]="AddOtherLoan" class="mt-4">
        <div
          formArrayName="ApplicantLaibilities"
          *ngFor="
            let item of AddOtherLoan.get('ApplicantLaibilities')[
              'controls'
            ];
            let i = index
          "
        >
          <div
            [formGroupName]="i"
            class="py-3 mb-3"
            [ngClass]="
              i % 2 == 1 ? 'bgSkinWhite' : i % 2 == 0 ? 'bgLightGreen' : ''
            "
          >
            <div class="row mx-0">
              <div class="col-12 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <b>Other / Layby #{{ i + 1 }}</b>
                  <button
                  (click)="
                  +item.get('LiabilityID').value == undefined || +item.get('LiabilityID').value == 0 ?
                  removeApplicantLaibility(
                    i,
                    +item.get('LiabilityTypeId').value
                  ) : DeleteLiability(+item.get('LiabilityID').value)
                "
                    mat-fab
                    color="primary"
                    aria-label="Example icon button with a delete icon"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <mat-form-field class="col-6 w-100">
                <mat-label>Lender</mat-label>
                <input matInput placeholder="Lender" formControlName="Lender" />
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Balance</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Balance"
                  formControlName="Balance"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <div class="col-3 w-100">

              </div>
              <mat-form-field  *ngIf="+item.get('LiabilityTypeId').value == 2" class="col-3 w-100">
                <mat-label>CardLimit</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="CardLimit"
                  formControlName="CardLimit"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-label>Payment</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Payment"
                  formControlName="Payment"
                />
                <span matPrefix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-3 w-100">
                <mat-select
                  placeholder="Per"
                  formControlName="PaymentTimePeriod"
                >
                  <mat-option
                    *ngFor="let item of DurationType"
                    [value]="item.DurationTypeId"
                  >
                    {{ item.DurationTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="col-6 w-100">
                <label class="constant"> Name on Liabilitiy </label>
                <div>
                  <ng-container formArrayName="ApplicantTypeId">
                    <span
                      class=""
                      *ngFor="
                        let item2 of _sharedService.TotalApplicants;
                        let i2 = index
                      "
                      [ngClass]="i2 == 0 ? 'pl-0' : ''"
                    >
                      <mat-checkbox
                        (change)="onChange($event,i,+item.get('LiabilityTypeId').value)"
                        [value]="item2.ApplicantId"
                      >
                        {{ item2.FirstName }}&nbsp;{{ item2.SurName }}
                      </mat-checkbox>
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="px-15 mb-2">
                <label class="">Refinance?</label>
                <div>
                  <mat-radio-group formControlName="IsRefinance">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-error
                  *ngIf="
                    item.get('IsRefinance').hasError(
                      'required'
                    )
                  "
                  class="mat-error"
                  >Refinance required
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        (click)="addApplicantLaibility(4)"
        mat-button
        mat-raised-button
        color="primary"
        class="mx-3 pointer"
      >
      Add Other Liabilities
        <mat-icon class="btnOrder">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="step-nav">
    <div class="d-flex justify-content-between align-items-center">
      <button mat-flat-button [routerLink]="">Back</button>
      <button
        (click)="onApplicantLaibilitySubmit()"
        mat-raised-button
        color="primary"
        class="next"
      >
        Next
        <mat-icon class="btnOrder">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
