<div class="col-10 p-3">
    <h1>Review & Submit</h1>

<div class="summary">
<div class="row">
    <div class="col-6 p-3">
        <div>
        <h4>Assets</h4>


        <table class="table">
            <thead>
              <tr style="background-color:#eeeeee">
                <th scope="col" class="font-w-500">Details</th>
                <th scope="col" class="font-w-500">Estimated Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="font-w-500">Total</th>
                <td class="font-w-500">${{AssetsIncome}}</td>
              </tr>
            </tbody>
          </table>


        </div>


    </div>
</div>

<div class="row">
    <div class="col-6 p-3">
        <div>
        <h4>Income</h4>


        <table class="table">
            <thead>
              <tr style="background-color:#eeeeee">
                <th scope="col" class="font-w-500">Details</th>
                <th scope="col" class="font-w-500">Monthly Income</th>
              </tr>
            </thead>
            <tbody>
              <tr  style="background-color: white;">
                <th scope="row" class="font-w-400">After tax income for applicant:</th>
                <td class="font-w-400">$0.00</td>
              </tr>

              <tr style="background-color: white;">
                <th scope="row" class="font-w-400">Family Tax Benefit:</th>
                <td class="font-w-400">$0.00</td>
              </tr>

              <tr>
                <th scope="row" class="font-w-500">Monthly Total:</th>
                <td class="font-w-500">$0.00</td>
              </tr>
              
            </tbody>
          </table>


        </div>


    </div>

    <div class="col-6 p-3">
        <div>
        <h4>Liabilities / Expenses</h4>


        <table class="table">
            <thead>
              <tr style="background-color:#eeeeee">
                <th scope="col" class="font-w-500">Details</th>
                <th scope="col" class="font-w-500">Monthly Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr  style="background-color: white;">
                <th scope="row" class="font-w-400">Living expenses</th>
                <td class="font-w-400">${{LivingExpenses}}</td>
              </tr>

              <tr>
                <th scope="row" class="font-w-500">Monthly Total:</th>
                <td class="font-w-500">${{LivingExpenses}}</td>
              </tr>
              
            </tbody>
          </table>


        </div>


    </div>
</div>

</div>
</div>