<ng-container>
  <div class="px-4 py-2">
    <h3>Application List</h3>
    <mat-table #table [dataSource]="applications">
      <ng-container matColumnDef="EmailAddress">
        <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.EmailAddress }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CreatedDate">
        <mat-header-cell *matHeaderCellDef> Created Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.CreatedDate | date : "dd/MM/yyyy" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef class="py-4"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="pointer" (click)="onEdit(element.ApplicationId)"><mat-icon>edit</mat-icon></span>
          <span class="pointer" (click)="DeleteApplication(element.ApplicationId)"><mat-icon>delete</mat-icon></span>
          <span class="pointer" (click)="PrintPDF(element.ApplicationId)"><mat-icon>picture_as_pdf</mat-icon></span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</ng-container>
<div hidden id="pdfTable1" #pdfTable class="pdfTable">
  <ng-container *ngIf="Applicants != undefined && Applicants.length > 0">
    <h2 style="text-decoration: underline;">Applicants</h2>
    <ng-container *ngFor="let item of Applicants;let i = index">
      <p style="font-weight: 400; font-size: 18px;"><span style="color: blue;">Applicant
          Name</span>&nbsp;{{item.FirstName}}&nbsp;{{item.SurName}}</p>
      <h2 style="text-decoration: underline;">Applicant Details</h2>
      <ng-container *ngFor="let item2 of ApplicantsDetails | filter : item.ApplicantId : 'ApplicantId';let j = index">
        <table style="border: none;">
          <tbody>
            <tr style="width: 100%;">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Applicant Type</span>&nbsp;
                  {{item2.ApplicantTypeId == 1 ? "Applicant" : item2.ApplicantTypeId == 2 ?
                  "Guarantor" : item2.ApplicantTypeId == 3 ? "Non-applicant" : ""}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Salutation</span>&nbsp;
                  {{item2.SalutationTypeId == 4 ? "Mr" : item2.SalutationTypeId == 5 ?
                  "Mrs" : item2.SalutationTypeId == 6 ? "Miss" : item2.SalutationTypeId == 7 ? "Ms" : ""}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">FirstName</span>&nbsp;{{item2.FirstName}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">SurName</span>&nbsp;{{item2.SurName}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">MiddleName</span>&nbsp;{{item2.MiddleName}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">MotherName</span>&nbsp;{{item2.MotherName}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">DateOfBirth</span>&nbsp;{{item2.DateOfBirth | date : "dd/MM/yyyy"}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Marital Status</span>&nbsp;
                  {{item2.MaritalTypeId == 8 ? "Single" : item2.MaritalTypeId == 9 ? "Married" : item2.MaritalTypeId ==
                  10 ? "DeFacto" :
                  item2.MaritalTypeId == 11 ? "Seperated" : item2.MaritalTypeId == 12 ? "Divorced" : item2.MaritalTypeId
                  == 13 ? "Widowed" :
                  item2.MaritalTypeId == 14 ? "Other" : ""}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Drivers Expiry
                    Date</span>&nbsp;{{item2.DriversExpiryDate}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Drivers Licence
                    No</span>&nbsp;{{item2.DriversLicenceNo}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Number Of
                    Children</span>&nbsp;{{item2.NumberOfChildren}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <hr>
      <h2 style="text-decoration: underline;">Applicant Addresses</h2>
      <ng-container *ngFor="let item2 of ApplicantAddress | filter : item.ApplicantId : 'ApplicantId';let j = index">
        <table style="border: none;">
          <tbody>
            <tr style="width: 100%;">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Street
                    Number</span>&nbsp;{{item2.StreetNumber}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Street
                    Name</span>&nbsp;{{item2.StreetName}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Suburb</span>&nbsp;{{item2.Suburb}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">State</span>&nbsp;
                  {{item2.StateTypeId == 26 ? "SA" : item2.StateTypeId == 27 ? "ACT" : item2.StateTypeId == 28 ? "NSW" :
                  item2.StateTypeId == 29 ? "NT" : item2.StateTypeId == 30 ? "QLD" : item2.StateTypeId == 31 ? "TAS" :
                  item2.StateTypeId == 32 ? "VIC" : item2.StateTypeId == 33 ? "WA" : ""}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Post
                    Code</span>&nbsp;{{item2.Postcode}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Housing
                    Status</span>&nbsp;{{item2.HousingStatusTypeId == 46 ? "Renting" :
                  item2.HousingStatusTypeId == 47 ? "Mortgage" :
                  item2.HousingStatusTypeId == 48 ? "With parents" :
                  item2.HousingStatusTypeId == 49 ? "Home in duty" : item2.HousingStatusTypeId == 50 ? "Other" : ""}}
                </p>
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Specify</span>&nbsp;{{item2.Specify}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Year Time
                    Residing</span>&nbsp;{{item2.YearTimeResiding}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Month Time
                    Residing</span>&nbsp;{{item2.MonthTimeResiding}}</p>
                <p *ngIf="item2.StreetNumber2 != ''" style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Street Number 2</span>&nbsp;
                  {{item2.StreetNumber2}}</p>
                <p *ngIf="item2.StreetName2 != ''" style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Street Name
                    2</span>&nbsp;{{item2.StreetName2}}</p>
                <p *ngIf="item2.POBox != ''" style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">POBox</span>&nbsp;
                  {{item2.POBox}}</p>
              </td>
              <td style="border: none;">
                <p *ngIf="item2.Suburb2 != ''" style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Suburb
                    2</span>&nbsp;{{item2.Suburb2}}</p>
                <p *ngIf="item2.State2TypeId != ''" style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">State</span>&nbsp;
                  {{item2.State2TypeId == 26 ? "SA" : item2.State2TypeId == 27 ? "ACT" : item2.State2TypeId == 28 ?
                  "NSW" :
                  item2.State2TypeId == 29 ? "NT" : item2.State2TypeId == 30 ? "QLD" : item2.State2TypeId == 31 ? "TAS"
                  :
                  item2.State2TypeId == 32 ? "VIC" : item2.State2TypeId == 33 ? "WA" : ""}}</p>
                <p *ngIf="item2.Postcode2 != ''" style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Post
                    Code 2</span>&nbsp;{{item2.Postcode2}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <hr>
      <h2 style="text-decoration: underline;">Contact & More Information</h2>
      <ng-container
        *ngFor="let item2 of ApplicantContactInformations | filter : item.ApplicantId : 'ApplicantId';let j = index">
        <table style="border: none;">
          <tbody>
            <tr style="width: 100%;">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Phone Number</span>&nbsp;
                  {{item2.PhoneNumber}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Mobile
                    Number</span>&nbsp;{{item2.MobileNumber}}</p>

              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Email
                    Address</span>&nbsp;{{item2.EmailAddress}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Skype
                    Address</span>&nbsp;{{item2.SkypeAddress}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span
                    style="color: blue;">Country</span>&nbsp;{{item2.Country}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Citizenship</span>&nbsp;
                  {{item2.CitizenshipStatusTypeId == 18 ? "Citizen" :
                  item2.CitizenshipStatusTypeId == 19 ? "Permanent Resident" :
                  item2.CitizenshipStatusTypeId == 20 ? "" : "Visa"}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <hr>
      <h2 style="text-decoration: underline;">Employment Details (more than 3 year records)</h2>
      <ng-container
        *ngFor="let item2 of ApplicantEmployeeDetails | filter : item.ApplicantId : 'ApplicantId';let j = index">
        <table style="border: none;">
          <tbody>
            <tr style="width: 100%;">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Employment Detail</span>&nbsp;
                  {{item2.EmploymentTypeId == 21 ? "PAYG" : item2.EmploymentTypeId == 22 ? "Self Employed" :
                  item2.EmploymentTypeId == 23 ? "Unemployed" :
                  item2.EmploymentTypeId == 24 ? "Home Duties" :
                  item2.EmploymentTypeId == 25 ? "Retired" : ""}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Occupation</span>&nbsp;
                  {{item2.Occuptation != '' ? item2.Occuptation : "none"}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Employer</span>&nbsp;
                  {{item2.Employer != '' ? item2.Employer : "none" }}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Street Number</span>&nbsp;
                  {{item2.StreetNumber != '' ? item2.StreetNumber : 'none'}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Street Name</span>&nbsp;
                  {{item2.StreetName != '' ? item2.StreetName : 'none'}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Suburb</span>&nbsp;
                  {{item2.Suburb != '' ? item2.Suburb : "none"}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">State</span>&nbsp;
                  {{item2.StateId == 26 ? "SA" : item2.StateId == 27 ? "ACT" :
                  item2.StateId == 28 ? "NSW" :
                  item2.StateId == 29 ? "NT" : item2.StateId == 30 ? "QLD" :
                  item2.StateId == 31 ? "TAS" :
                  item2.StateId == 32 ? "VIC" : item2.StateId == 33 ? "WA" : "none"}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Post Code</span>&nbsp;
                  {{item2.Postcode != '' ? item2.Postcode : "none"}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Work Phone</span>&nbsp;
                  {{item2.WorkPhone != '' ? item2.WorkPhone : "none"}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Basis</span>&nbsp;
                  {{item2.BasisTypeId == 34 ? "Full Time" : item2.BasisTypeId == 35 ? "Part Time" :
                  item2.BasisTypeId == 36 ? "Casual" : "none"}}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Started Date</span>&nbsp;
                  {{item2.StartedDate | date : "dd/MM/yyyy" }}</p>
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">GrossIncome</span>&nbsp;
                  {{item2.GrossIncome != '' ? item2.GrossIncome : 'none'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <hr>
      <h2 style="text-decoration: underline;">Other Income</h2>
      <ng-container
        *ngFor="let item2 of ApplicantOtherIncomes | filter : item.ApplicantId : 'ApplicantId';let j = index">
        <table style="border: none;">
          <tbody>
            <tr style="width: 100%;">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Other Income</span>&nbsp;
                  {{item2.OtherIncomeType == 37 ? "Family Tax Benefit" : item2.OtherIncomeType == 38 ? "Pensions" :
                  item2.OtherIncomeType == 39 ? "Child Support" :
                  item2.OtherIncomeType == 40 ? "Maintenance" : item2.OtherIncomeType == 41 ? "Other" : ""}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Other
                    Details</span>&nbsp;{{item2.OtherDetails}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Other
                    Amount</span>&nbsp;{{item2.OtherAmount}}</p>
              </td>
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Other Duration</span>
                  &nbsp;{{item2.OtherDurationType == 42 ? "Week" : item2.OtherDurationType == 43 ? "Fortnight" :
                  item2.OtherDurationType == 44 ? "Month" : item2.OtherDurationType == 45 ? "Year" : ""}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <hr>
    </ng-container>
    <h2 style="text-decoration: underline;">Liabilities</h2>
    <ng-container *ngFor="let item of Liabilities | filter : 1 : 'LiabilityTypeID';let i = index">
      <h4 style="text-decoration: underline;">Personal / Car Loan&nbsp;{{i + 1}}</h4>
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Lender</span>&nbsp;{{item.Lender}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Balance</span>&nbsp;{{item.Balance}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Payment</span>&nbsp;{{item.Payment}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Other Duration</span>
                &nbsp;{{item.PaymentTimePeriod == 42 ? "Week" :
                item.PaymentTimePeriod == 43 ? "Fortnight" :
                item.PaymentTimePeriod == 44 ? "Month" :
                item.PaymentTimePeriod == 45 ? "Year" : ""}}</p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Refinance</span>&nbsp;{{item.IsRefinance}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="text-decoration: underline;">Applicants</h4>
      <ng-container>
        <table style="border: none;">
          <tbody>
            <tr
              *ngFor="let item2 of liabilities_Applicants_Links | filter : item.LiabilityID : 'LiabilityID';let j = index">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;">
                  <span style="color: blue;">Name</span>&nbsp;{{item2.ApplicantName}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let item of Liabilities | filter : 2 : 'LiabilityTypeID';let i = index">
      <h4 style="text-decoration: underline;">Credit Card / Layby&nbsp;{{i + 1}}</h4>
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Lender</span>&nbsp;{{item.Lender}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Balance</span>&nbsp;{{item.Balance}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Payment</span>&nbsp;{{item.Payment}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Other Duration</span>
                &nbsp;{{item.PaymentTimePeriod == 42 ? "Week" :
                item.PaymentTimePeriod == 43 ? "Fortnight" :
                item.PaymentTimePeriod == 44 ? "Month" :
                item.PaymentTimePeriod == 45 ? "Year" : ""}}</p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Card Limit</span>&nbsp;{{item.CardLimit}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Refinance</span>&nbsp;{{item.IsRefinance}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="text-decoration: underline;">Applicants</h4>
      <ng-container>
        <table style="border: none;">
          <tbody>
            <tr
              *ngFor="let item2 of liabilities_Applicants_Links | filter : item.LiabilityID : 'LiabilityID';let j = index">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;">
                  <span style="color: blue;">Name</span>&nbsp;{{item2.ApplicantName}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let item of Liabilities | filter : 3 : 'LiabilityTypeID';let i = index">
      <h4 style="text-decoration: underline;">Salary Sacrifice&nbsp;{{i + 1}}</h4>
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Lender</span>&nbsp;{{item.Lender}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Balance</span>&nbsp;{{item.Balance}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Payment</span>&nbsp;{{item.Payment}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Other Duration</span>
                &nbsp;{{item.PaymentTimePeriod == 42 ? "Week" :
                item.PaymentTimePeriod == 43 ? "Fortnight" :
                item.PaymentTimePeriod == 44 ? "Month" :
                item.PaymentTimePeriod == 45 ? "Year" : ""}}</p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Refinance</span>&nbsp;{{item.IsRefinance}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="text-decoration: underline;">Applicants</h4>
      <ng-container>
        <table style="border: none;">
          <tbody>
            <tr
              *ngFor="let item2 of liabilities_Applicants_Links | filter : item.LiabilityID : 'LiabilityID';let j = index">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;">
                  <span style="color: blue;">Name</span>&nbsp;{{item2.ApplicantName}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let item of Liabilities | filter : 4 : 'LiabilityTypeID';let i = index">
      <h4 style="text-decoration: underline;">Other / Layby&nbsp;{{i + 1}}</h4>
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Lender</span>&nbsp;{{item.Lender}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Balance</span>&nbsp;{{item.Balance}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Payment</span>&nbsp;{{item.Payment}}
              </p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Other Duration</span>
                &nbsp;{{item.PaymentTimePeriod == 42 ? "Week" :
                item.PaymentTimePeriod == 43 ? "Fortnight" :
                item.PaymentTimePeriod == 44 ? "Month" :
                item.PaymentTimePeriod == 45 ? "Year" : ""}}</p>
            </td>
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;">
                <span style="color: blue;">Refinance</span>&nbsp;{{item.IsRefinance}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="text-decoration: underline;">Applicants</h4>
      <ng-container>
        <table style="border: none;">
          <tbody>
            <tr
              *ngFor="let item2 of liabilities_Applicants_Links | filter : item.LiabilityID : 'LiabilityID';let j = index">
              <td style="border: none;">
                <p style="font-weight: 400; font-size: 14px;">
                  <span style="color: blue;">Name</span>&nbsp;{{item2.ApplicantName}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>

    <h2 style="text-decoration: underline;">Relatives</h2>
    <ng-container *ngFor="let item of relativesObj">
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Full
                  Name</span>&nbsp;{{item.FullName}}</p>

              <p style="font-weight: 400; font-size: 14px;"><span
                  style="color: blue;">Relationship</span>&nbsp;{{item.RelationShipToYou}}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Australian Residential
                  Address</span>&nbsp;{{item.AusResidentialAddress}}</p>
            </td>

            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span
                  style="color: blue;">Guarantor</span>&nbsp;{{item.ApplicantName}}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Contact
                  Number</span>&nbsp;{{item.ContactNumber}}</p>
            </td>

          </tr>
        </tbody>
      </table>
    </ng-container>


    <h2 style="text-decoration: underline;">Financial Goals</h2>
    <ng-container *ngFor="let item of financialGoals">
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Assistance in
                  Investment</span>&nbsp;{{item.IsTaxResident == true ? 'Yes' : 'No'}}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Future Financial Goal
                </span>&nbsp;{{item.FutureFinancialGoal}}</p>

            </td>

            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">Retirement Age Income
                </span>&nbsp;{{item.RetirementAgeIncome}}</p>
            </td>

          </tr>
        </tbody>
      </table>
    </ng-container>

    <h2 style="text-decoration: underline;">Risk / Insuarance Profile</h2>
    <ng-container *ngFor="let item of riskInsuarance">
      <table style="border: none;">
        <tbody>
          <tr style="width: 100%;">
            <td style="border: none;">
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Clear Credit File</span>&nbsp;{{item.ClearCreditFile == 2 ? 'Unsure' : item.ClearCreditFile == 1 ?
                'Yes' : 'No' }}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Issues in Payment of Liabilities</span>&nbsp;{{item.RepaymentsOnLiabilities == 1 ? 'Yes' : 'No' }}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Planning to change Job/Retiring/Starting a family?</span>&nbsp;{{item.JobsChanging == 1 ? 'Yes' : 'No'
                }}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Comfortable with Property Insuarances?</span>&nbsp;{{item.ThingsInsurance == 1 ? 'Yes' : 'No' }}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Comfortable with Personal Insuarances?</span>&nbsp;{{item.PersonalInsurance == 1 ? 'Yes' : 'No' }}</p>

              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                  Arrange an insuarance discussion meeting?</span>&nbsp;{{item.DiscussInsurance == 1 ? 'Yes' : 'No' }}</p>

            </td>

            <td style="border:none" *ngIf="item.JobsChanging == 1">
              <br><br><br><br>
              <p style="font-weight: 400; font-size: 14px;"><span style="color: blue;">
                Details</span>&nbsp;{{item.JobsChangingSpecification}}</p>

            </td>

          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="applicationReason != undefined && applicationReason.length > 0">
      <h2 style="text-decoration: underline;">Reason For Application</h2>
      <span><span style="font-weight:bold;">Loan Description:</span>&nbsp;{{applicationReason[0].LoanDescription}} </span>
      <br>
      <h5 style="text-decoration: underline;">Specific Loan/Lender features?</h5>
      <ng-container *ngFor="let item of applicationReason">
        <table style="border: none;justify-content: space-between;">
          <tbody>
            <tr style="width: 100%;">
          <td style="border: none;width: 50% !important;justify-content: space-between;">
            <span style="font-weight:bold">{{item.Name}}:</span>&nbsp;
            <span style="font-weight:100;font-style: monospace;">{{item.SelectedTypeId == 51 ? 'Important' : item.SelectedTypeId == 52 ? 'Not Important' : 'Dont Want' }}</span>
            </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
