<div class="p-3 bgWhite">
  <div class="d-flex justify-content-between align-items-center px-2 gap-6">
    <h1>Game Plan</h1>
  </div>
  <form [formGroup]="GamePlanForm">
    <div class="row mx-0">
      <mat-form-field class="col-12 w-100">
        <mat-label>Client</mat-label>
        <input readonly matInput placeholder="Client Name" formControlName="ClientName" />
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-select placeholder="Select Broker" formControlName="BrokerId">
          <mat-option *ngFor="
              let loansBroker of this.GamPlanObj.LoansBrokers;
              let i = index
            " [value]="loansBroker.LoansBrokerId">
            <div class="d-flex justify-content-between align-items-center px-2 gap-6">
              {{ loansBroker.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6 w-100">
        <mat-label>Date of Birth (dd/mm/yyyy)</mat-label>
        <input matInput [matDatepicker]="PlanDate" formControlName="PlanDate" />
        <mat-datepicker-toggle matSuffix [for]="PlanDate"></mat-datepicker-toggle>
        <mat-datepicker #PlanDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-6">
        <div class="d-flex justify-content-between align-items-center gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Lender Name" value="" #itemName2 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName2.value, 2, 'Lender');
              itemName2.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Lender" formControlName="LenderId">
          <mat-option *ngFor="
              let lender of GamPlanObj.GamePlanLookups | filter : 2 : 'TypeId';
              let i = index
            " [value]="lender.Id">
            <div class="d-flex justify-content-between align-item-center">
              <span>{{ lender.Name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Referer Name" value="" #itemName3 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName3.value, 3, 'Referrer');
              itemName3.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Referer" formControlName="RefererId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 3 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Primary Purpose Title" value="" #itemName4 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName4.value, 4, 'Primary Purpose');
              itemName4.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Primary Purpose" formControlName="PrimaryPurposeTitleId">
          <mat-option *ngFor="
              let primaryPurpose of this.GamPlanObj.GamePlanLookups
                | filter : 4 : 'TypeId'
            " [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Immediate Goals and Objectives Title" value="" #itemName5 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName5.value,
                5,
                'Immediate Goals and Objectives'
              );
              itemName5.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Immediate Goals" formControlName="ImmediateGoalsObjectivesTitleId">
          <mat-option *ngFor="
              let primaryPurpose of this.GamPlanObj.GamePlanLookups
                | filter : 5 : 'TypeId'
            " [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-6 w-100">
        <mat-label>Primary Purpose SubTitle</mat-label>
        <angular-editor id="PrimaryPurposeSubTitle" formControlName="PrimaryPurposeSubTitle"
          [config]="config"></angular-editor>
      </div>
      <div class="col-6 w-100">
        <mat-label>Immediate Goals Objectives SubTitle</mat-label>
        <angular-editor id="ImmediateGoalsObjectivesSubTitle" formControlName="ImmediateGoalsObjectivesSubTitle"
          [config]="config"></angular-editor>
      </div>
      <mat-form-field class="col-6 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Future Financial Goals Title" value="" #itemName6 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName6.value,
                6,
                'Future Financial Goals Title'
              );
              itemName6.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Future Financial Goals Title" formControlName="FutureFinancialGoalsTitleId">
          <mat-option *ngFor="
              let primaryPurpose of this.GamPlanObj.GamePlanLookups
                | filter : 6 : 'TypeId'
            " [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Our Recommendation" value="" #itemName7 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName7.value,
                7,
                'Our Recommendation Title'
              );
              itemName7.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Our Recommendation Title" formControlName="OurRecommendationTitleId">
          <mat-option *ngFor="
              let primaryPurpose of this.GamPlanObj.GamePlanLookups
                | filter : 7 : 'TypeId'
            " [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-6 w-100">
        <mat-label>Future Financial Goals SubTitle</mat-label>
        <angular-editor id="FutureFinancialGoalsSubTitle" formControlName="FutureFinancialGoalsSubTitle"
          [config]="config"></angular-editor>
      </div>
      <div class="col-6 w-100">
        <mat-label>Our Recommendation SubTitle</mat-label>
        <angular-editor id="OurRecommendationSubTitle" formControlName="OurRecommendationSubTitle"
          [config]="config"></angular-editor>
      </div>
      <mat-form-field class="col-12 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Rationale for recommendation" value="" #itemName8 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName8.value,
                8,
                'Rationale for recommendation Title'
              );
              itemName8.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Rationale for recommendation Title"
          formControlName="RationaleForRecommendationTitleId">
          <mat-option *ngFor="
              let primaryPurpose of this.GamPlanObj.GamePlanLookups
                | filter : 8 : 'TypeId'
            " [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 w-100">
        <mat-label>Rationale For Recommendation SubTitle</mat-label>
        <angular-editor id="RationaleForRecommendationSubTitle" formControlName="RationaleForRecommendationSubTitle"
          [config]="config"></angular-editor>
      </div>
      <div class="col-12 mt-3">
        <mat-label>Your Loan Preference</mat-label>
      </div>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Rate Preference" value="" #itemName9 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName9.value, 9, 'Rate Preference');
              itemName9.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Rate Preference" formControlName="RatePreferenceId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 9 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Importance" value="" #itemName10 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName10.value, 10, 'Importance');
              itemName10.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Importance" formControlName="ImportanceId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 10 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Payment Preference" value="" #itemName11 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName11.value, 11, 'Payment Preference');
              itemName11.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Payment Preference" formControlName="PaymentPreferenceId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 11 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Reason Of Importance" value="" #itemName12 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName12.value, 12, 'Reason Of Importance');
              itemName12.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Reason Of Importance" formControlName="ReasonOfImportanceId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 12 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Special Features" value="" #itemName13 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName13.value, 13, 'Special Features');
              itemName13.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Special Features" formControlName="SpecialFeaturesId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 13 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Importance 2" value="" #itemName14 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName14.value, 14, 'Importance 2');
              itemName14.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Importance 2" formControlName="Importance2Id">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 14 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 w-100">
        <mat-label>Other Information Text</mat-label>
        <textarea matInput placeholder="Other Information Text" formControlName="OtherInformationText"></textarea>
      </mat-form-field>
      <mat-form-field class="col-4 w-100">
        <mat-label>Client Understanding Text</mat-label>
        <textarea matInput placeholder="Client Understanding Text" formControlName="ClientUnderstandingText"></textarea>
      </mat-form-field>
      <mat-form-field class="col-4 w-100">
        <mat-label>BrokerInterviewedDate</mat-label>
        <input matInput [matDatepicker]="BrokerInterviewedDate" formControlName="BrokerInterviewedDate" />
        <mat-datepicker-toggle matSuffix [for]="BrokerInterviewedDate"></mat-datepicker-toggle>
        <mat-datepicker #BrokerInterviewedDate></mat-datepicker>
      </mat-form-field>
      <div class="col-12 mt-3">
        <mat-label>Lender Preference</mat-label>
      </div>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Current Lender" value="" #itemName15 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName15.value, 15, 'Current Lender');
              itemName15.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Current Lender" formControlName="CurrentLenderId"
          (selectionChange)="setInformationBrokerMessage($event.value)">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 15 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Happy With Current Lender" value="" #itemName16 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName16.value,
                16,
                'Happy With Current Lender'
              );
              itemName16.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Happy With Current Lender" formControlName="HappyWithCurrentLenderId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 16 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Prefered Lender" value="" #itemName17 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(itemName17.value, 17, 'Prefered Lender');
              itemName17.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Prefered Lender" formControlName="PreferedLenderId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 17 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 mt-3">
        <mat-label>Product Comparison</mat-label>
      </div>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Product Comparison One" value="" #itemName18 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName18.value,
                18,
                'Product Comparison One'
              );
              itemName18.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Product Comparison One" formControlName="ProductComparison1Id">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 18 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Product Comparison Two" value="" #itemName19 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName19.value,
                19,
                'Product Comparison Two'
              );
              itemName19.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Product Comparison Two" formControlName="ProductComparison2Id">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 19 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Product Comparison Three" value="" #itemName20 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName20.value,
                20,
                'Product Comparison Three'
              );
              itemName20.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Product Comparison Three" formControlName="ProductComparison3Id">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 20 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4 w-100">
        <mat-label>APPENDIX</mat-label>
        <textarea matInput placeholder="Appendix Text" readonly formControlName="AppendixText"></textarea>
      </mat-form-field>
      <div class="col-12 mt-3">
        <mat-label>Information To Broker Support Manager</mat-label>
      </div>
      <mat-form-field class="col-6 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Product Comparison Three" value="" #itemName21 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName21.value,
                21,
                'Product Comparison Three'
              );
              itemName21.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Missing Document To Request" formControlName="MissingDocumentToRequestIds"
          multiple>
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 21 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-6 w-100 d-flex align-items-center">
        <mat-label>Select Lender Rate Lock</mat-label>
        <mat-radio-group formControlName="IsAddLenderRateLock" name="IsAddLenderRateLock">
          <mat-radio-button id="IsAddLenderRateLock1" value="1">Yes</mat-radio-button>
          <mat-radio-button id="IsAddLenderRateLock2" value="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field class="col-12 w-100">
        <mat-label>Information To Broker Support Manager Text</mat-label>
        <textarea matInput placeholder="Appendix Text" readonly formControlName="ITBSMMessageText"></textarea>
      </mat-form-field>
      <div class="col-6 mt-3">
        <mat-label>Have the client's been identified</mat-label>
      </div>
      <div class="col-6 mt-3">
        <mat-label>Document Delivery</mat-label>
      </div>
      <mat-form-field class="col-6 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Clients Identified" value="" #itemName22 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName22.value,
                22,
                'Clients Identified'
              );
              itemName22.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Clients Identified" formControlName="ClientsIdentifiedId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 22 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6 mt-3">
        <div class="d-flex justify-content-between align-items-center px-2 gap-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Document Delivery" value="" #itemName23 />
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" (click)="
              SaveGamePlanLookup(
                itemName23.value,
                23,
                'Document Delivery'
              );
              itemName23.value = ''
            ">
            Add
          </button>
        </div>
        <mat-select placeholder="Select Document Delivery" formControlName="DocumentDeliveryId">
          <mat-option *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 23 : 'TypeId'
            " [value]="referer.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="step-nav">
    <div class="d-flex justify-content-between align-items-center px-2 gap-6">
      <button mat-flat-button [routerLink]="'/admin'">Back</button>
      <button (click)="SaveGamePlan()" mat-raised-button color="primary" class="next">
        Next
        <mat-icon class="btnOrder">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>