<div class="p-3 bgWhite">
  <div class="d-flex justify-content-between align-items-center px-2 gap-6">
    <h1>Game Plan</h1>
  </div>
  <form [formGroup]="GamePlanForm">
    <div class="row mx-0">
      <mat-form-field class="col-12 w-100">
        <mat-label>Client</mat-label>
        <input
          readonly
          matInput
          placeholder="Client Name"
          formControlName="ClientName"
        />
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-select placeholder="Select Broker" formControlName="BrokerId">
          <mat-option
            *ngFor="
              let loansBroker of this.GamPlanObj.LoansBrokers;
              let i = index
            "
            [value]="loansBroker.LoansBrokerId"
          >
            <div
              class="d-flex justify-content-between align-items-center px-2 gap-6"
            >
              {{ loansBroker.Name }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6 w-100">
        <mat-label>Date of Birth (dd/mm/yyyy)</mat-label>
        <input matInput [matDatepicker]="PlanDate" formControlName="PlanDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="PlanDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #PlanDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-6">
        <div class="d-flex justify-content-between align-items-center gap-6">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Lender Name"
              value=""
              #itemName2
              (keydown.enter)="$event.stopPropagation()"
            />
          </mat-form-field>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="
              SaveGamePlanLookup(itemName2.value, 2, 'Lender');
              itemName2.value = ''
            "
          >
            Add
          </button>
        </div>
        <mat-select placeholder="Select Lender" formControlName="LenderId">
          <mat-option
            *ngFor="
              let lender of GamPlanObj.GamePlanLookups | filter : 2 : 'TypeId';
              let i = index
            "
            [value]="lender.Id"
          >
            <div class="d-flex justify-content-between align-item-center">
              <span>{{ lender.Name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6">
        <div
          class="d-flex justify-content-between align-items-center px-2 gap-6"
        >
          <mat-form-field class="w-100">
            <input matInput placeholder="Referer Name" value="" #itemName3 />
          </mat-form-field>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="
              SaveGamePlanLookup(itemName3.value, 3, 'Referrer');
              itemName3.value = ''
            "
          >
            Add
          </button>
        </div>
        <mat-select placeholder="Select Referer" formControlName="RefererId">
          <mat-option
            *ngFor="
              let referer of this.GamPlanObj.GamePlanLookups
                | filter : 3 : 'TypeId'
            "
            [value]="referer.Id"
          >
            <div class="d-flex justify-content-between align-item-center">
              {{ referer.Name }}
              <!-- <mat-icon *ngIf="referer.Id == -1" (click)="removeEntry(referer.Id)">delete</mat-icon> -->
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field class="col-12">
        <mat-select placeholder="Select Primary Purpose" (selectionChange)="test($event)"
          formControlName="PrimaryPurposeTitleId">
          <div class="d-flex justify-content-between align-items-center px-2 gap-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Primary Purpose Title" value="" #itemName4>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary"
              (click)="SaveGamePlanLookup(itemName4.value,4,'Primary Purpose');itemName4.value=''">
              Add</button>
          </div>
          <mat-option *ngFor="let primaryPurpose of this.GamPlanObj.GamePlanLookups | filter : 4 : 'TypeId'"
            [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
              <mat-icon *ngIf="primaryPurpose.Id == -1" (click)="removeEntry(primaryPurpose.Id)">delete</mat-icon>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 w-100">
        <mat-label>Primary Purpose SubTitle</mat-label>
        <textarea matInput [rows]="5" (input)="handleInput($event)" formControlName="PrimaryPurposeSubTitle"></textarea>
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-select placeholder="Select Primary Purpose" (selectionChange)="test($event)"
          formControlName="ImmediateGoalsObjectivesTitleId">
          <div class="d-flex justify-content-between align-items-center px-2 gap-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Immediate Goals and Objectives Title" value="" #itemName5>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary"
              (click)="SaveGamePlanLookup(itemName5.value,4,'Primary Purpose');itemName5.value=''">
              Add</button>
          </div>
          <mat-option *ngFor="let primaryPurpose of this.GamPlanObj.GamePlanLookups | filter : 4 : 'TypeId'"
            [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
              <mat-icon *ngIf="primaryPurpose.Id == -1" (click)="removeEntry(primaryPurpose.Id)">delete</mat-icon>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 w-100">
        <mat-label>Immediate Goals and Objectives SubTitle</mat-label>
        <textarea matInput [rows]="5" (input)="handleInput($event)"
          formControlName="ImmediateGoalsObjectivesSubTitle"></textarea>
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-select placeholder="Select Primary Purpose" (selectionChange)="test($event)"
          formControlName="FutureFinancialGoalsTitleId">
          <div class="d-flex justify-content-between align-items-center px-2 gap-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Future Financial Goals Title" value="" #itemName6>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary"
              (click)="SaveGamePlanLookup(itemName6.value,4,'Primary Purpose');;itemName6.value=''">
              Add</button>
          </div>
          <mat-option *ngFor="let primaryPurpose of this.GamPlanObj.GamePlanLookups | filter : 4 : 'TypeId'"
            [value]="primaryPurpose.Id">
            <div class="d-flex justify-content-between align-item-center">
              {{ primaryPurpose.Name }}
              <mat-icon *ngIf="primaryPurpose.Id == -1" (click)="removeEntry(primaryPurpose.Id)">delete</mat-icon>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 w-100">
        <mat-label>Future Financial Goals SubTitle</mat-label>
        <textarea matInput [rows]="5" (input)="handleInput($event)"
          formControlName="FutureFinancialGoalsSubTitle"></textarea>
      </mat-form-field> -->
    </div>
  </form>
  <div class="step-nav">
    <div class="d-flex justify-content-between align-items-center px-2 gap-6">
      <button mat-flat-button [routerLink]="'/admin'">Back</button>
      <button
        (click)="SaveGamePlan()"
        mat-raised-button
        color="primary"
        class="next"
      >
        Next
        <mat-icon class="btnOrder">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
