<h1>Assets</h1>
<div [formGroup]="AssetsDetails" class="mt-4">
  <div
    formArrayName="AssetsDetails"
    *ngFor="
      let item of AssetsDetails.get('AssetsDetails')['controls'];
      let i = index
    "
  >
    <div
      [formGroupName]="i"
      class="py-3 mb-3"
      [ngClass]="
        i > 0 && i % 2 == 1
          ? 'bgSkinWhite'
          : i > 0 && i % 2 == 0
          ? 'bgLightGreen'
          : ''
      "
    >
      <div class="row mx-0">
        <mat-form-field class="col-4 w-100">
          <mat-label>Street Number</mat-label>
          <input
            matInput
            placeholder="Street Number"
            formControlName="StreetNumber"
          />
        </mat-form-field>

        <mat-form-field class="col-4 w-100">
          <mat-label>Street Name</mat-label>
          <input
            matInput
            placeholder="Street Name"
            formControlName="StreetName"
          />
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <mat-form-field class="col-4 w-100">
          <mat-label>Suburb</mat-label>
          <input matInput placeholder="Suburb" formControlName="Suburb" />
        </mat-form-field>

        <mat-form-field class="col-3 w-100">
          <mat-select placeholder="State" formControlName="StateId">
            <mat-option *ngFor="let item of States" [value]="item.StatesID">
              {{ item.StatesName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col-1 w-100"></div>

        <mat-form-field class="col-4 w-100">
          <mat-label>Post Code</mat-label>
          <input matInput placeholder="Post Code" formControlName="PostCode" />
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <mat-form-field class="col-6 w-100">
          <mat-label>Estimated Value</mat-label>
          <input
            type="number"
            matInput
            placeholder="Estimated Value"
            formControlName="EstimatedValue"
          />
          <span matPrefix>&nbsp;$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <div class="col-2 w-100">
          <span> Investment Property </span>
        </div>

        <mat-form-field class="col-4 w-100">
          <mat-label>Rent Received</mat-label>
          <input
            type="number"
            matInput
            placeholder="Estimated Value"
            formControlName="EstimatedValue"
          />
          <span matPrefix>&nbsp;$&nbsp;</span>
        </mat-form-field>

        <mat-form-field class="col-3 w-100">
          <mat-select placeholder="Per" formControlName="RentPerID">
            <ng-container *ngFor="let item of PerRentReceived">
              <mat-option [value]="item.PerRentID" *ngIf="item.PerRentID != 40">
                {{ item.PerRentName }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <div class="col-2 w-100">
          <span> Mortgage </span>
        </div>

        <mat-form-field class="col-5 w-100">
          <mat-label>Lender</mat-label>
          <input matInput placeholder="Lender" formControlName="Lender" />
        </mat-form-field>

        <mat-form-field class="col-3 w-100">
          <mat-select
            placeholder="Interest Type"
            formControlName="InterestTypeID"
          >
            <mat-option
              *ngFor="let item of InterestType"
              [value]="item.InterestTypeID"
            >
              {{ item.InterestTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <div class="col-2 w-100"></div>

        <mat-form-field class="col-5 w-100">
          <mat-label>Interest Rate</mat-label>
          <input
            matInput
            placeholder="Interest Rate"
            formControlName="InterestRate"
          />
          <span matSuffix>&nbsp;%&nbsp;</span>
        </mat-form-field>

        <mat-form-field class="col-5 w-100">
          <mat-label>Limit</mat-label>
          <input
            type="number"
            matInput
            placeholder="Limit"
            formControlName="Limit"
          />
          <span matPrefix>&nbsp;$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <div class="col-2 w-100"></div>

        <mat-form-field class="col-2 w-100">
          <mat-label>Payment</mat-label>
          <input
            type="number"
            matInput
            placeholder="Payment"
            formControlName="Payment"
          />
          <span matPrefix>&nbsp;$&nbsp;</span>
        </mat-form-field>

        <mat-form-field class="col-3 w-100">
          <mat-select placeholder="Per" formControlName="PaymentPerID">
            <mat-option
              [value]="item.PerRentID"
              *ngFor="let item of PerRentReceived"
            >
              {{ item.PerRentName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col-1 w-100"></div>

        <mat-form-field class="col-2 w-100">
          <mat-label>Balance</mat-label>
          <input
            type="number"
            matInput
            placeholder="Balance"
            formControlName="Balance"
          />
          <span matPrefix>&nbsp;$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <div class="col-2 w-100"></div>
        <div class="px-15">
          <label class="constant">Name on Liability</label>
          <div>
            <mat-radio-group formControlName="ApplicantType">
              <mat-radio-button value="1">Applicant</mat-radio-button>
              <mat-radio-button value="2">Guarantor</mat-radio-button>
              <mat-radio-button value="3">Non-applicant</mat-radio-button>
            </mat-radio-group>
          </div>
          <label class="constant">Refinance?</label>
          <div>
            <mat-radio-group formControlName="RefinanceTypeID">
              <mat-radio-button value="4">Yes</mat-radio-button>
              <mat-radio-button value="5">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>










    </div>
  </div>
</div>
