<h1>Assets</h1>

<div class="row mx-0">
  <div [formGroup]="AssetsDetails" class="col-12">
    <div
      formArrayName="AssetsDetails"
      *ngFor="
        let item of AssetsDetails.get('AssetsDetails')['controls'];
        let i = index
      "
    >
      <div
        [formGroupName]="i"
        class="py-3 mb-3 px-5"
        [ngClass]="
          i > 0 && i % 2 == 1
            ? 'bgSkinWhite'
            : i > 0 && i % 2 == 0
            ? 'bgLightGreen'
            : ''
        "
      >
        <div class="row mx-3 py-2">
          <div class="col-3 text-left">
            <span class="font-w-bold">
              Real Estate - Property #{{ i + 1 }}
            </span>
          </div>

          <div class="col-9 text-right">
            <button
              (click)="removeAssetsDetails(i,+item.get('PropertyID').value)"
              class="pointer"
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="row mx-0">
          <mat-form-field class="col-4 w-100">
            <mat-label>Street Number</mat-label>
            <input
              matInput
              placeholder="Street Number"
              formControlName="StreetNumber"
            />
          </mat-form-field>

          <mat-form-field class="col-4 w-100">
            <mat-label>Street Name</mat-label>
            <input
              matInput
              placeholder="Street Name"
              formControlName="StreetName"
            />
          </mat-form-field>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-4 w-100">
            <mat-label>Suburb</mat-label>
            <input matInput placeholder="Suburb" formControlName="Suburb" />
          </mat-form-field>

          <mat-form-field class="col-3 w-100">
            <mat-select placeholder="State" formControlName="StateId">
              <mat-option *ngFor="let item of States" [value]="item.StatesID">
                {{ item.StatesName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-1 w-100"></div>

          <mat-form-field class="col-4 w-100">
            <mat-label>Post Code</mat-label>
            <input
              matInput
              placeholder="Post Code"
              formControlName="PostCode"
            />
          </mat-form-field>
        </div>

        <div class="row mx-0">
          <div class="col-3 w-100">
            <mat-form-field class="">
              <mat-label>Estimated Value</mat-label>
              <input
                type="number"
                matInput
                placeholder="Estimated Value"
                formControlName="EstimatedValue"
              />
              <span matPrefix>&nbsp;$&nbsp;</span>
            </mat-form-field>
          </div>

          <div
            class="col-6"
            style="align-items: center"
            *ngIf="
              _sharedService.TotalApplicants != undefined &&
              _sharedService.TotalApplicants.length > 0
            "
          >
            <label class="constant"> Owner </label>
            <!-- <div class="" formArrayName="ApplicationReasonID">
              <span
                class=""
                *ngFor="
                  let item of _sharedService.TotalApplicants;
                  let i = index
                "
                [ngClass]="i == 0 ? 'pl-0' : ''"
              >
                <mat-checkbox [value]="item.ApplicantId">
                  {{ item.FirstName }}&nbsp;{{ item.SurName }}
                </mat-checkbox>

                <mat-checkbox
                  *ngIf="i == _sharedService.TotalApplicants.length - 1"
                  [value]="item.ApplicantId"
                >
                  Other
                </mat-checkbox>
              </span>
            </div> -->
            <div>
              <ng-container *ngIf="ApplicantIds != undefined && ApplicantIds.length > 0">
                <span
                  *ngFor="
                    let item2 of ApplicantIds| filter : item.get('RandomId').value : 'PropertyId';
                    let i2 = index
                  "
                  [ngClass]="i2 == 0 ? 'pl-0' : ''"
                >
                  <mat-checkbox
                    (change)="item2.IsChecked = !item2.IsChecked;selectChecbox(item.get('RandomId').value,1)"
                    [value]="item2.ApplicantId"
                    [checked]="item2.IsChecked == true"
                  >
                    {{ item2.Name }}
                  </mat-checkbox>
                </span>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row mx-0 py-3">
          <div class="col-2 w-100 pointer">
            <!-- <span> Investment Property </span> -->
            <mat-slide-toggle formControlName="IsInvestmentProperty">
              Investment Property
            </mat-slide-toggle>
          </div>

          <mat-form-field
            class="col-4 w-100"
            *ngIf="item.get('IsInvestmentProperty').value == true"
          >
            <mat-label>Rent Received</mat-label>
            <input
              type="number"
              matInput
              placeholder="Rent Value"
              formControlName="RentReceived"
            />
            <span matPrefix>&nbsp;$&nbsp;</span>
          </mat-form-field>

          <mat-form-field
            class="col-3 w-100"
            *ngIf="item.get('IsInvestmentProperty').value == true"
          >
            <mat-select placeholder="Per" formControlName="RentPerID">
              <ng-container *ngFor="let item of PerRentReceived">
                <mat-option
                  [value]="item.PerRentName"
                  *ngIf="item.PerRentID != 40"
                >
                  {{ item.PerRentName }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row mx-0 py-3">
          <div class="col-2 w-100 pointer">
            <mat-slide-toggle
              formControlName="IsMortgage"
              (click)="onSlideMortgage(i)"
            >
              Mortgage
            </mat-slide-toggle>
          </div>
          <div
            formArrayName="Mortgage"
            class="col-10 w-100 px-0"
            *ngIf="item.get('IsMortgage').value == true"
          >
            <ng-container
              *ngFor="
                let item2 of item.get('Mortgage')['controls'];
                let j = index
              "
            >
              <div [formGroupName]="j">
                <div class="row mx-0">
                  <mat-form-field class="col-5 w-100">
                    <mat-label>Lender</mat-label>
                    <input
                      matInput
                      placeholder="Lender"
                      formControlName="Lender"
                    />
                  </mat-form-field>
                  <mat-form-field class="col-3 w-100">
                    <mat-select
                      placeholder="Interest Type"
                      formControlName="InterestTypeID"
                    >
                      <mat-option
                        *ngFor="let inter of InterestType"
                        [value]="inter.InterestTypeID"
                      >
                        {{ inter.InterestTypeName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row mx-0">
                  <mat-form-field class="col-5 w-100">
                    <mat-label>Interest Rate</mat-label>
                    <input
                      matInput
                      placeholder="Interest Rate"
                      formControlName="InterestRate"
                    />
                    <span matSuffix>&nbsp;%&nbsp;</span>
                  </mat-form-field>
                  <mat-form-field class="col-5 w-100">
                    <mat-label>Limit</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Limit"
                      formControlName="Limit"
                    />
                    <span matPrefix>&nbsp;$&nbsp;</span>
                  </mat-form-field>
                </div>
                <div class="row mx-0">
                  <mat-form-field class="col-2 w-100">
                    <mat-label>Payment</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Payment"
                      formControlName="Payment"
                    />
                    <span matPrefix>&nbsp;$&nbsp;</span>
                  </mat-form-field>
                  <mat-form-field class="col-2 w-100">
                    <mat-select
                      placeholder="Per"
                      formControlName="PaymentPerID"
                    >
                      <mat-option
                        [value]="perR.PerRentID"
                        *ngFor="let perR of PerRentReceived"
                      >
                        {{ perR.PerRentName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="col-1 w-100"></div>
                  <mat-form-field class="col-2 w-100">
                    <mat-label>Balance</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Balance"
                      formControlName="Balance"
                    />
                    <span matPrefix>&nbsp;$&nbsp;</span>
                  </mat-form-field>
                </div>
                <div class="row mx-0">
                  <div class="px-15">
                    <label class="constant">Name on Liability</label>
                    <div>
                      <mat-radio-group formControlName="ApplicantType">
                        <mat-radio-button value="1">Applicant</mat-radio-button>
                        <mat-radio-button value="2">Guarantor</mat-radio-button>
                        <mat-radio-button value="3"
                          >Non-applicant</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                    <label class="constant">Refinance?</label>
                    <div>
                      <mat-radio-group formControlName="Refinance">
                        <mat-radio-button value="true">Yes</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="col-12 p-3 bb-2">
              <button
                mat-button
                mat-raised-button
                color="primary"
                class="mx-3 pointer"
                (click)="employee(i)"
              >
                Add Mortgage/Split
                <mat-icon class="btnOrder">add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-3 bb-2">
    <button
      mat-button
      mat-raised-button
      color="primary"
      class="mx-3 pointer"
      (click)="addAssetsDetails()"
    >
      Add Property
      <mat-icon class="btnOrder">add</mat-icon>
    </button>
  </div>

  <div [formGroup]="SavingDetails" class="col-12">
    <div
      formArrayName="SavingDetails"
      *ngFor="
        let item of SavingDetails.get('SavingDetails')['controls'];
        let i = index
      "
    >
      <div
        [formGroupName]="i"
        class="py-3 mb-3 px-5"
        [ngClass]="
          i > 0 && i % 2 == 1
            ? 'bgSkinWhite'
            : i > 0 && i % 2 == 0
            ? 'bgLightGreen'
            : ''
        "
      >
        <div class="row mx-3 py-2">
          <div class="col-3 text-left">
            <span class="font-w-bold">
              Savings #{{ i + 1 }}
            </span>
          </div>

          <div class="col-9 text-right">
            <button
              (click)="removeSavingDetails(i,+item.get('SavingsID').value)"
              class="pointer"
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="row mx-0">
          <mat-form-field class="col-12 w-100">
            <mat-label>Institution</mat-label>
            <input
              matInput
              placeholder="Institution"
              formControlName="Institution"
            />
          </mat-form-field>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-3 w-100">
            <mat-label>Estimated Value</mat-label>
            <input
              type="number"
              matInput
              placeholder="Estimated Value"
              formControlName="EstimatedValue"
            />
            <span matPrefix>&nbsp;$&nbsp;</span>
          </mat-form-field>

          <div
            class="col-6"
            style="align-items: center"
            *ngIf="
              _sharedService.TotalApplicants != undefined &&
              _sharedService.TotalApplicants.length > 0
            "
          >
            <label class="constant"> Owner </label>
            <!-- <div class="" formArrayName="OwnerID">
              <span
                class=""
                *ngFor="
                  let item of _sharedService.TotalApplicants;
                  let i = index
                "
                [ngClass]="i == 0 ? 'pl-0' : ''"
              >
                <mat-checkbox [value]="item.ApplicantId">
                  {{ item.FirstName }}&nbsp;{{ item.SurName }}
                </mat-checkbox>
              </span>
            </div> -->
            <div>
              <ng-container *ngIf="ApplicantIds != undefined && ApplicantIds.length > 0">
                <span
                  *ngFor="
                    let item2 of ApplicantIds| filter : item.get('RandomId').value : 'SavingsID';
                    let i2 = index
                  "
                  [ngClass]="i2 == 0 ? 'pl-0' : ''"
                >
                  <mat-checkbox
                    (change)="item2.IsChecked = !item2.IsChecked;selectChecbox(item.get('RandomId').value,2)"
                    [value]="item2.ApplicantId"
                    [checked]="item2.IsChecked == true"
                  >
                    {{ item2.Name }}
                  </mat-checkbox>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-3 bb-2">
    <button
      mat-button
      mat-raised-button
      color="primary"
      class="mx-3 pointer"
      (click)="addSavingDetails()"
    >
      Add Savings
      <mat-icon class="btnOrder">add</mat-icon>
    </button>
  </div>

  <div [formGroup]="SuperannuationDetails" class="col-12">
    <div
      formArrayName="SuperannuationDetails"
      *ngFor="
        let item of SuperannuationDetails.get('SuperannuationDetails')[
          'controls'
        ];
        let i = index
      "
    >
      <div
        [formGroupName]="i"
        class="py-3 mb-3 px-5"
        [ngClass]="
          i > 0 && i % 2 == 1
            ? 'bgSkinWhite'
            : i > 0 && i % 2 == 0
            ? 'bgLightGreen'
            : ''
        "
      >
        <div class="row mx-3 py-2">
          <div class="col-3 text-left">
            <span class="font-w-bold"> Superannuation #{{ i + 1 }} </span>
          </div>

          <div class="col-9 text-right">
            <button
              (click)="removeSuperannuationDetails(i,+item.get('SuperannuationID').value)"
              class="pointer"
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="row mx-0">
          <mat-form-field class="col-12 w-100">
            <mat-label>Institution</mat-label>
            <input
              matInput
              placeholder="Institution"
              formControlName="Institution"
            />
          </mat-form-field>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-3 w-100">
            <mat-label>Estimated Value</mat-label>
            <input
              type="number"
              matInput
              placeholder="Estimated Value"
              formControlName="EstimatedValue"
            />
            <span matPrefix>&nbsp;$&nbsp;</span>
          </mat-form-field>

          <div
            class="col-6"
            style="align-items: center"
            *ngIf="
              _sharedService.TotalApplicants != undefined &&
              _sharedService.TotalApplicants.length > 0
            "
          >
            <label class="constant"> Owner </label>
            <!-- <div class="" formArrayName="OwnerID">
              <span
                class=""
                *ngFor="
                  let item of _sharedService.TotalApplicants;
                  let i = index
                "
                [ngClass]="i == 0 ? 'pl-0' : ''"
              >
                <mat-checkbox [value]="item.ApplicantId">
                  {{ item.FirstName }}&nbsp;{{ item.SurName }}
                </mat-checkbox>
              </span>
            </div> -->
            <div>
              <ng-container *ngIf="ApplicantIds != undefined && ApplicantIds.length > 0">
                <span
                  *ngFor="
                    let item2 of ApplicantIds| filter : item.get('RandomId').value : 'SuperannuationID';
                    let i2 = index
                  "
                  [ngClass]="i2 == 0 ? 'pl-0' : ''"
                >
                  <mat-checkbox
                    (change)="item2.IsChecked = !item2.IsChecked;selectChecbox(item.get('RandomId').value,3)"
                    [value]="item2.ApplicantId"
                    [checked]="item2.IsChecked == true"
                  >
                    {{ item2.Name }}
                  </mat-checkbox>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-3 bb-2">
    <button
      mat-button
      mat-raised-button
      color="primary"
      class="mx-3 pointer"
      (click)="addSuperannuationDetails()"
    >
      Add Superannuation
      <mat-icon class="btnOrder">add</mat-icon>
    </button>
  </div>

  <div [formGroup]="MotorVehicleDetails" class="col-12">
    <div
      formArrayName="MotorVehicleDetails"
      *ngFor="
        let item of MotorVehicleDetails.get('MotorVehicleDetails')['controls'];
        let i = index
      "
    >
      <div
        [formGroupName]="i"
        class="py-3 mb-3 px-5"
        [ngClass]="
          i > 0 && i % 2 == 1
            ? 'bgSkinWhite'
            : i > 0 && i % 2 == 0
            ? 'bgLightGreen'
            : ''
        "
      >
        <div class="row mx-3 py-2">
          <div class="col-3 text-left">
            <span class="font-w-bold"> Motor Vehicle #{{ i + 1 }} </span>
          </div>

          <div class="col-9 text-right">
            <button
              (click)="removeMotorVehicleDetails(i,+item.get('MotorVehicleID').value)"
              class="pointer"
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-9 w-100">
            <mat-label>Make</mat-label>
            <input matInput placeholder="Make" formControlName="Make" />
          </mat-form-field>

          <mat-form-field class="col-3 w-100">
            <mat-label>Year</mat-label>
            <input matInput placeholder="Year" formControlName="Year" />
          </mat-form-field>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-3 w-100">
            <mat-label>Estimated Value</mat-label>
            <input
              type="number"
              matInput
              placeholder="Estimated Value"
              formControlName="EstimatedValue"
            />
            <span matPrefix>&nbsp;$&nbsp;</span>
          </mat-form-field>

          <div
            class="col-6"
            style="align-items: center"
            *ngIf="
              _sharedService.TotalApplicants != undefined &&
              _sharedService.TotalApplicants.length > 0
            "
          >
            <label class="constant"> Owner </label>
            <!-- <div class="" formArrayName="OwnerID">
              <span
                class=""
                *ngFor="
                  let item of _sharedService.TotalApplicants;
                  let i = index
                "
                [ngClass]="i == 0 ? 'pl-0' : ''"
              >
                <mat-checkbox [value]="item.ApplicantId">
                  {{ item.FirstName }}&nbsp;{{ item.SurName }}
                </mat-checkbox>
              </span>
            </div> -->
            <div>
              <ng-container *ngIf="ApplicantIds != undefined && ApplicantIds.length > 0">
                <span
                  *ngFor="
                    let item2 of ApplicantIds| filter : item.get('RandomId').value : 'MotorVehicleID';
                    let i2 = index
                  "
                  [ngClass]="i2 == 0 ? 'pl-0' : ''"
                >
                  <mat-checkbox
                    (change)="item2.IsChecked = !item2.IsChecked;selectChecbox(item.get('RandomId').value,4)"
                    [value]="item2.ApplicantId"
                    [checked]="item2.IsChecked == true"
                  >
                    {{ item2.Name }}
                  </mat-checkbox>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-3 bb-2">
    <button
      mat-button
      mat-raised-button
      color="primary"
      class="mx-3 pointer"
      (click)="addMotorVehicleDetails()"
    >
      Add Motor Vehicle
      <mat-icon class="btnOrder">add</mat-icon>
    </button>
  </div>

  <div [formGroup]="MoreAssetDetails" class="col-12">
    <div
      formArrayName="MoreAssetDetails"
      *ngFor="
        let item of MoreAssetDetails.get('MoreAssetDetails')['controls'];
        let i = index
      "
    >
      <div
        [formGroupName]="i"
        class="py-3 mb-3 px-5"
        [ngClass]="
          i > 0 && i % 2 == 1
            ? 'bgSkinWhite'
            : i > 0 && i % 2 == 0
            ? 'bgLightGreen'
            : ''
        "
      >
        <div class="row mx-3 py-2">
          <div class="col-3 text-left"></div>

          <div class="col-9 text-right">
            <button
              (click)="removeMoreAssetDetails(i,+item.get('MoreAssetsID').value)"
              class="pointer"
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-3 w-100">
            <mat-select placeholder="Asset Type" formControlName="AssetTypeID">
              <mat-option
                *ngFor="let item of AssetType"
                [value]="item.AssetTypeID"
              >
                {{ item.AssetTypeName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-9 w-100">
            <mat-label>Details</mat-label>
            <input matInput placeholder="Details" formControlName="Details" />
          </mat-form-field>
        </div>

        <div class="row mx-0">
          <mat-form-field class="col-3 w-100">
            <mat-label>Estimated Value</mat-label>
            <input
              type="number"
              matInput
              placeholder="Estimated Value"
              formControlName="EstimatedValue"
            />
            <span matPrefix>&nbsp;$&nbsp;</span>
          </mat-form-field>

          <div
            class="col-6"
            style="align-items: center"
            *ngIf="
              _sharedService.TotalApplicants != undefined &&
              _sharedService.TotalApplicants.length > 0
            "
          >
            <label class="constant"> Owner </label>
            <!-- <div class="" formArrayName="OwnerID">
              <span
                class=""
                *ngFor="
                  let item of _sharedService.TotalApplicants;
                  let i = index
                "
                [ngClass]="i == 0 ? 'pl-0' : ''"
              >
                <mat-checkbox [value]="item.ApplicantId">
                  {{ item.FirstName }}&nbsp;{{ item.SurName }}
                </mat-checkbox>
              </span>
            </div> -->
            <div>
              <ng-container *ngIf="ApplicantIds != undefined && ApplicantIds.length > 0">
                <span
                  *ngFor="
                    let item2 of ApplicantIds| filter : item.get('RandomId').value : 'MoreAssetsID';
                    let i2 = index
                  "
                  [ngClass]="i2 == 0 ? 'pl-0' : ''"
                >
                  <mat-checkbox
                    (change)="item2.IsChecked = !item2.IsChecked;selectChecbox(item.get('RandomId').value,5)"
                    [value]="item2.ApplicantId"
                    [checked]="item2.IsChecked == true"
                  >
                    {{ item2.Name }}
                  </mat-checkbox>
                </span>
              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-3">
    <button
      mat-button
      mat-raised-button
      color="primary"
      class="mx-3 pointer"
      (click)="addMoreAssetDetails()"
    >
      Add More Asset (Investments,Furniture, and others)
      <mat-icon class="btnOrder">add</mat-icon>
    </button>
  </div>

  <div class="step-nav col-12">
    <div class="d-flex justify-content-between align-items-center">
      <button mat-flat-button [routerLink]="">Back</button>
      <button
      (click)="onSubmitAssets()"
        mat-raised-button
        color="primary"
        class="next"
      >
        Next
        <mat-icon class="btnOrder">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
