<ngx-ui-loader
  [fgsColor]="_sharedService.config.fgsColor"
  [fgsPosition]="_sharedService.config.fgsPosition"
  [fgsSize]="_sharedService.config.fgsSize"
  [fgsType]="_sharedService.config.fgsType"
  [bgsColor]="_sharedService.config.bgsColor"
  [bgsOpacity]="_sharedService.config.bgsOpacity"
  [bgsPosition]="_sharedService.config.bgsPosition"
  [bgsSize]="_sharedService.config.bgsSize"
  [bgsType]="_sharedService.config.bgsType"
  [gap]="_sharedService.config.gap"
  [logoPosition]="_sharedService.config.logoPosition"
  [logoSize]="_sharedService.config.logoSize"
  [logoUrl]="_sharedService.config.logoUrl"
  [overlayColor]="_sharedService.config.overlayColor"
  [pbColor]="_sharedService.config.pbColor"
  [pbDirection]="_sharedService.config.pbDirection"
  [pbThickness]="_sharedService.config.pbThickness"
  [hasProgressBar]="_sharedService.config.hasProgressBar"
  [text]="_sharedService.config.text"
  [textColor]="_sharedService.config.textColor"
  [textPosition]="_sharedService.config.textPosition"
></ngx-ui-loader>
<router-outlet></router-outlet>


