.example-full-width {
    width: 100%;
  }
  label.constant {
    font-size: .775rem;
    font-weight: 500;
    color: rgba(0,0,0,.5);
  }
  p{
    font-size: 1rem;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 400;
  }
